.ctn__dash {
  padding: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  grid-template-rows: repeat(3, 22vh);
  column-gap: 2vw;
  row-gap: 2vh;
  font-family: 'Poppins', sans-serif;
}

.dash__profile {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 35% 4% 8% 4% 10% 19% 20%;
  background-color: var(--container-background-color);
  border-radius: var(--radius-container);
  text-align: center;
  overflow-y: auto;
}

.dash__statistiques {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--container-background-color);
  border-radius: var(--radius-container);
  text-align: center;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 15% 85%;
}

.dash__achievements {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: var(--container-background-color);
  border-radius: var(--radius-container);
  text-align: center;
  overflow: auto;
}

.pict__prof {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  aspect-ratio: 1 / 1;
  margin: auto;
  width: 60%;
  min-width: 150px;
  height: auto;
}

.img__prof {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  aspect-ratio: 1 / 1;
  border: 1px solid aliceblue;
}

.editing__pointer {
  cursor: none;
}

.editing__pointer:hover {
  cursor: pointer;
}

.dash__title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-family: var(--title-font);
  font-size: x-large;
}

.dash__h2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  min-height: 4%;
}

.dash__h3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-family: var(--title-font);
  font-size: 30px;
  width: 100%;
  min-height: 8%;
}

.dash__p {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  font-style: italic;
  color: grey;
  font-size: 15px;
}

.dash__username {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  font-style: bold;
  font-size: 2rem;
  color: var(--main-theme-color);
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px var(--main-theme-color),
    0 0 20px var(--main-theme-color), 0 0 40px var(--main-theme-color),
    0 0 80px var(--main-theme-color), 0 0 120px var(--main-theme-color);
  animation: animate 3s infinite alternate;
}

.dash__profile__btns {
  grid-column-start: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

.dash__text__input {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: center;
  width: 90%;
  background-color: darkslateblue;
  border-radius: 99999px;
}

.dash__input__ctn {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

@keyframes animate {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
}

.dash__2FA {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  padding-top: 10%;
  padding-bottom: 15%;
  font-style: italic;
  color: grey;
  font-size: 10px;
  line-height: 4.5;
  width: 100%;
}

.dash__ctn__button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  width: 100%;
  min-width: 5vw;
}

.dash__button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  max-height: 15%;
  width: 30px;
  border-radius: 5px;
  background-color: darkviolet;
  width: 100%;
  height: auto;
}

.dash__button:active {
  transform: scale(0.95, 0.95);
}

.dash__data {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--container-background-color);
  border-radius: var(--radius-container);
  text-align: center;
  display: inline-block;
  overflow-y: auto;
}

.hist__party {
  margin-top: 1%;
  height: 15%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.pict__player {
  height: 80%;
  aspect-ratio: 1 / 1;
  margin-left: 5%;
  margin-right: 5%;
}

.img__player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  border: 1px solid aliceblue;
}

.rst__match {
  width: 20%;
  font-size: 1.2rem;
}

.ctn__stats {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom: 10%;
}

.ctn__stats__info {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.stats__info__logo {
  width: 10%;
}

.info__logo {
  margin: auto;
  height: 100%;
  size: 1rem;
}

.stats__info__title {
  width: 40%;
  text-align: left;
  font-size: 1.2rem;
}

.stats__info__data {
  width: 20%;
  text-align: right;
  font-size: 1.2rem;
}

.ctn__achievements {
  width: 100%;
  height: 50%;
}

.achievements__list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 60%;
}

.achievements__locked {
  margin: 1%;
  color: var(--re-field-color);
}

.achievements__unlocked {
  margin: 1%;
  color: aliceblue;
}

.ctn__four_buttons {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.ctn__two_buttons {
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 3%;
  padding: 0% 10%;
}

.ctn__one_button {
  width: 50%;
  display: flex;
  justify-content: center;
}

.ctn__one_long_button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.style__button__pro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-theme-color);
  color: var(--container-color);
  width: 5vw;
  aspect-ratio: 5/2;
  border-radius: 99999px;
}

.style__button__pro:hover {
  opacity: calc(95%);
  border: 1px solid var(--container-color);
}

.style__button__pro:disabled {
  opacity: calc(70%);
  pointer-events: none;
  cursor: not-allowed;
}

@media (max-width: 1100px) {
  .ctn__dash {
    padding-top: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: 30vh 25vh 15vh;
  }

  .dash__profile {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 10% 12% 15% 18% 18%;
  }

  .pict__prof {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 10%;
    width: 120px;
    min-width: 140px;
  }

  .dash__2FA {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .dash__h2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .dash__h3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .dash__p {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .dash__username {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .dash__input__ctn {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .dash__ctn__button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 2vh;
  }

  .dash__title {
    font-size: large;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .stats__info__title {
    font-size: 1rem;
  }

  .ctn__stats__info {
    margin-top: 5%;
  }

  .ctn__stats {
    margin-bottom: 1%;
  }

  .dash__data {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .dash__statistiques {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .dash__achievements {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .ctn__stats {
    margin-top: 8%;
  }

  .ctn__four_buttons {
    display: flex;
    margin-top: 0;
  }

  .ctn__two_buttons {
    margin: unset;
    width: 50%;
    display: flex;
    padding: unset;
  }

  .ctn__one_button {
    width: 50%;
  }

  .ctn__one_long_button {
    padding-right: unset;
  }
}

@media (max-width: 450px) {
  .ctn__dash {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 60%;
    grid-template-rows: 30%;
  }

  .dash__profile {
    /* grid-template-columns: 1fr; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .pict__prof {
    /* grid-column-start: 2;
    grid-column-end: 2; */
    grid-row-start: 2;
    /* grid-row-end: 5;
    margin-top: 10%;
    width: 120px;
    min-width: 140px; */
  }

  .dash__data {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .dash__statistiques {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 10;
  }

  .dash__achievements {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 14;
  }
}
