.ctn__2FA {
    background-color: aliceblue;
    width: 50%;
    height: 45rem;
    border-radius: var(--radius-container);
    margin: auto;
    margin-top: 5%;
}

.top__2FA {
    color: black;
    border: 1px solid aliceblue;
    width: 70%;
    height: 60%;
    margin: auto;
}

.lock__icon {
    margin: auto;
    margin-top: 10%;
    width: 20%;
    aspect-ratio: 5/5;
    background-color: var(--main-theme-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top__2FA h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 2%;
    font-family: var(--title-font);
}

.top__2FA p {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.down__2FA {
    color: black;
    border: 1px solid aliceblue;
    width: 70%;
    height: 40%;
    margin: auto;
}

.input__2FAcode {
    width: 60%;
    min-width: 250px;
    height: 25%;
    margin: auto;
}

.input__2FAcode input {
    width: 100%;
    aspect-ratio: 5/1;
    font-size: 5ch;
    text-align: center;
    border-radius: var(--radius-container);
}

.button__submit2FA {
    width: 40%;
    min-width: 250px;
    margin: auto;
    margin-top: 10%;
}

.style__button {
    background-color: var(--main-theme-color);
    border-radius: var(--radius-container);
    aspect-ratio: 5/1;
    width: 100%;
    color: aliceblue;
    margin: auto;
}
