@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/games');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --background: rgba(3, 0, 30, 0.9);
  --navbar-width: 5rem;
  --navbar-height: 100vh;
  --header-height: 4rem;
  --container-background-color: #03001e;
  --container-color: aliceblue;
  --radius-container: 15px;

  --title-font: 'Games', sans-serif;

  /* Button Setup */
  --button-background-color: #1b1935;
  --button-background-color-hover: #2c285f;
  --button-border-radius: 20%;
  --button-navbar-size: 3.5rem;
  --toggle-color: #f2f2f2;

  /* RG-THEME */
  --rg-ball-color: #ebd93d;
  --rg-field-color: #bf5c00;

  /* WB-THEME */
  --wb-ball-color: #ebd93d;
  --wb-field-color: #067c20;

  /* RE-THEME */
  --re-ball-color: #d2d2d2;
  --re-field-color: #1c1834;

  /* MA-THEME */
  --ma-ball-color: #55c100;
  --ma-field-color: #1c1834;

  /*---- Colors Theme ----*/
  --main-theme-color: #df00fe;

  /*---- Font Weight ----*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

body {
  background-color: var(--background);
  color: var(--container-color);
  font-family: 'Poppins', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
