.main_logo {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 3.5em;
    color: var(--main-theme-color);
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px var(--main-theme-color),
        0 0 20px var(--main-theme-color), 0 0 40px var(--main-theme-color),
        0 0 80px var(--main-theme-color), 0 0 120px var(--main-theme-color);
    animation: animate 15s infinite alternate;
}

@keyframes animate {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
}
