.navbar {
    background-color: var(--container-background-color);
    color: var(--container-color);
    width: var(--navbar-width);
    height: var(--navbar-height);
    position: fixed;
    z-index: 10;
}

.ctn__navbar {
    display: grid;
    row-gap: 2rem;
    margin-top: 4.5rem
}

.button__navbar {
    background-color: var(--button-background-color);
    width: var(--button-navbar-size);
    height: var(--button-navbar-size);
    border-radius: var(--button-border-radius);
    margin: auto;
    cursor: pointer;
}

.button__navbar:hover {
    background-color: var(--button-background-color-hover);
}

.button__navbar:active {
    transform:scale(0.95,0.95);
}

.button__icon__navbar {
    margin-left: 0.8em;
}

.ctn__off {
    background-color: var(--button-background-color);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 0.8rem;
    margin-top: 15vh;
    position: absolute;
    bottom: 1rem;

}

.ctn__off__p {
    padding: 12px;
}

.ctn__off:hover {
    background-color: #2c285f;
    cursor: pointer;
}